@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome</h1> <!--to add space after navigation bar-->
    <img src="~/images/wal/home.jpg" /><!--code to show the image on the home page-->
    <h1>Welcome</h1><!--code to show the heading of welcome on the home page-->
    <p>Technology that changes the future</p><!--code to show the tagline on the home page-->
</div>

